<div class="banner banner-four">
</div>
       
 <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Inicia Sesión</h1>
            </div>

            <div class="login-form">
                <form action="" target="" method="post">
                <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Usuario" name="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Contraseña" name="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <button class="btn2 btn-primary btn2-large btn2-block" >
               Iniciar
              </button>
               </form>
            </div>
        </div>
    </div>