<div class="banner banner-five">
</div>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/agrega">Agregar Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/agregaruser">Agregar Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listarp">Listar Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listaru">Listar Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/compras">Historial de Compras</a>
  </li>
</ul>