<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- Banner -->
    <div class="banner banner-cover">
        <div class="banner-container ">
            <h1 class="title-cover"></h1>
            <a class="btn btn-default" href="/links/productos">Ver Productos</a>
        </div>
    </div>  
    <!-- Sección de fotografías -->
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile">
                <div class="columns is-centered is-mobile is-multiline">
                    <!-- 1 Sección de fotografías -->
                    <div class="column is-half column-full">
                        <div class="card">
                            <span class="price">$89.900</span>
                            <img src="/static/img/reloj1.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Skmei 1032 LED Digital $89.900 </h4>
                                <p class="has-text-centered">Reloj de pulsera de cuarzo militar de marca de lujo para hombres.</p>
                                <div class="card-buttons">
                                    
                                     <a href="/links/productos" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">$119.990</span>
                            <img src="/static/img/reloj2.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> SKMEI 1489  Reloj creativo digital a prueba de agua 30m
                                 $119.990 </h4>
                                <p class="has-text-centered">Reloj vintage hombre pulsera de cuarzo acero inoxidable</p>
                                <div class="card-buttons">
                                    
                                    <a href="/links/productos" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card">
                            <span class="price"></span>
                            
                                <img src="/static/img/reloj3.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> SKMEI 1220 Reloj deportivo digital de doble tiempo $69.000 </h4>
                                <p class="has-text-centered">Reloj de cuarzo dorado casual de moda para Mujer LED
                                    </p>
                                <div class="card-buttons">
                                    
                                    <a href="/links/productos"  class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Segunda sección de fotografías -->
            <div class="column is-half is-full-mobile">
                <div class="columns is-mobile is-multiline">
                    <div class="column is-full">
                        <div class="card">
                            <span class="price"><strike>$190.900</strike> $130.900</span>
                                <img src="/static/img/reloj5.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> 1515 skmei reloj de pulsera de acero inoxidable $130.900 </h4>
                                <p class="has-text-centered">Reloj  para hombres de lujo bajo moqoem digital de cuarzo.</p>
                                <div class="card-buttons">
                                    
                                    <a href="/links/productos" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price"></span>
                            <img src="/static/img/reloj6.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> SKMEI 0926 Reloj deportivo creativo de moda Hombre  $198.000 </h4>
                                <p class="has-text-centered">Correa de acero inoxidable Pantalla LED Relojes 5Bar Reloj digital impermeable reloj hombre</p>
                                <div class="card-buttons">
                                   
                                     <a href="/links/productos" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price"></span>
                            <img src="/static/img/reloj7.jpg" alt="">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> SKMEI 1536 Moda creativa Starry Sky Diamond Mujer  $180.000 </h4>
                                <p class="has-text-centered">Reloj de cuarzo Dama LED Luz de fondo 5Bar Reloj de pulsera impermeable .</p>
                                <div class="card-buttons">
                                    
                                    <a href="/links/productos" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-full">
    <div class="columns is-centered is-multiline">
        <div class="column is-full">
            <div class="separator"></div>
        </div>
    </div>
</div>

</body>
</html>