* {
  box-sizing: border-box;
  }
  
  *:focus {
      outline: none;
  }
  .login {
  margin: 20px auto;
  width: 900px;
  }
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  }
  
  .app-title {
  text-align: center;
  color: rgb(48, 127, 180);
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  input {
  text-align: center;
  background-color: rgba(214, 210, 210, 0.397);
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 800px;
  transition: border .5s;
  
  }
  
  input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
  }
  
  .btn2 {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  
  .btn2:hover {
    background-color: rgb(39, 107, 126);
  }
  

  
  
  